:focus { outline:none; }
::-moz-focus-inner { border:0; }

* {
	font-family: 'Open Sans', sans-serif !important;
}

html {
	height: 100%;
	background-color: #7C0077;
	background-image: linear-gradient(#000000, #7C0077);
	background-repeat: no-repeat;
}

#not-found {
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-top: 90px;
	font-weight: 100;
	opacity: 0.5;
}

#result, #success, #failure {
	display: none;
}

#result {
  margin-top: 75px;
}

.neon {
	color: #fff;
	text-shadow: 0 0 5px #fff,
				 0 0 10px #fff,
				 0 0 15px #fff,
				 0 0 20px #ff00ff,
				 0 0 25px #ff00ff,
				 0 0 35px #ff00ff,
				 0 0 40px #ff00ff,
				 0 0 80px #ff00ff,
				 0 0 120px #ff00ff;
}

.main {
	text-align: center;
	color: #fff;
}

.main h1 {
	margin-bottom: 0;
	font-size: 6.0em;
	font-weight: 100 !important;
	letter-spacing: 10px;
	color: transparent;
	text-shadow: 0 0 3px rgba(255,255,255,0.7);
}

.main h1 a {
	letter-spacing: 1px;
	padding-right: 6px;
	text-decoration: none;
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
}

.main h1 a:hover {
	opacity: 1.0;
}

.main h2 {
	display: inline;
	font-weight: 100 !important;
	color: #ccc;
}

form {
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	width: 700px;
}

form input {
	background-color: rgba(255, 255, 255, 0.4);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 325px;
	margin-bottom: 10px;
}

form input[type="text"], form textarea {
	transition: box-shadow 0.15s ease-in-out;
}

form textarea {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
	margin-top: 0;
	border-radius: 5px;
	font-size: 0.7em;
	border: none;
	height: 80px;
	width: 325px;
	padding: 10px;
}

form input[type="submit"], a#reload {
	border: none;
	font-size: 1.2em;
	margin-top: 10px;
	border-radius: 5px;
	background-color: transparent;
	opacity: 0.7;
	transition: opacity 0.5s ease-in-out;
	text-decoration: none;
}

form input[type="submit"]:hover, form input[type="submit"]:focus, a#reload:hover {
	opacity: 1.0;
}

form input[type="text"]:focus, form textarea:focus, a#reload:focus {
	box-shadow: 0 0 10px #ff00de;
}