* {
	font-family: 'Open Sans', sans-serif !important;
}

html {
	height: 100%;
	background-color: #7C0077;
	background-image: linear-gradient(#000000, #7C0077);
	background-repeat: no-repeat;
}

.neon {
	color: #fff;
	text-shadow: 0 0 5px #fff,
				 0 0 10px #fff,
				 0 0 15px #fff,
				 0 0 20px #ff00ff,
				 0 0 25px #ff00ff,
				 0 0 35px #ff00ff,
				 0 0 40px #ff00ff,
				 0 0 80px #ff00ff,
				 0 0 120px #ff00ff;
}

.main {
	text-align: center;
	color: #fff;
}

.main h1 {
	margin-bottom: -15px;
	font-size: 6.0em;
	font-weight: 100 !important;
	letter-spacing: 10px;
	color: transparent;
	text-shadow: 0 0 3px rgba(255,255,255,0.7);
}

.main h2 {
	display: inline;
	font-weight: 100 !important;
	color: #ccc;
}

form {
	padding: 10px;
	margin: auto;
	margin-top: 70px;
	width: 700px;
}

form button {
	float: right;
}

form textarea {
	border-radius: 5px;
	font-size: 0.8em;
	border: none;
	height: 80px;
	width: 326px;
	padding: 10px;
}

#not-found {
	font-size: 3em;
	text-shadow: 0 0 2px rgba(255,255,255,0.5);
	letter-spacing: -1px;
}